@import '../../../styles/variables.scss';

#main {
  @include containerWidth;
  @include flexCenter;

  #article {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #feedSection {
    width: 613px;
    border: 1px solid #ccc;
    @include theme;
  }
}

#feedSection {
  .feedUser {
    @include flexSpaceBetweenCenter;
    padding: 10px 15px;

    .feedInfo {
      @include flexCenter;

      .feedUserProfileName {
        padding-left: 10px;
        font-size: 1.2em;
      }

      .feedUserProfileImg {
        @include profileImgWidth;
      }
    }
  }
}

.interaction {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  .likeBtn,
  .reviewBtn,
  .shareBtn,
  .keepBtn {
    @include iconReaction;
  }
}

.reactionContentsWrap {
  padding: 0 15px;

  .checkLike {
    display: flex;
    align-items: center;
    padding: 0 0 10px;

    .checkLikeIdProfile1 {
      @include profileImgWidth($size: 20px);
    }

    .checkLikeIdProfile1 img {
      height: 100%;
    }

    .checkLikeSummary {
      padding-left: 15px;
    }
  }
}

.inputReviewContainer {
  position: relative;
  .minimalContents {
    width: 200px;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .moreBtn {
    cursor: pointer;
  }

  .reviewList {
    position: relative;
    padding: 10px 0;
  }

  .reviewId {
    font-weight: bold;
  }

  .reviewContents {
    padding-left: 5px;
  }

  .reviewLike {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .inputReviewContainer {
    position: relative;
    border-top: 1px solid #ccc;
  }

  .inputReview {
    width: 100%;
    border: none;
    padding: 10px 15px;
  }

  .reviewUploadBtn {
    position: absolute;
    right: 15px;
    top: 10px;
    color: rgba(0, 149, 246, 1);
    background-color: #fff;
  }
}
