@import '../../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Login {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 60px;
  text-align: center;
  background-color: white;
  border: 1px solid $lightgray;

  .logo {
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
  }
  .loginForm {
    input {
      width: 100%;
      margin-top: 8px;
      padding: 12px 12px;
      border: 1px solid $lightgray;
      border-radius: 4px;
      background-color: $verylightgray;
      font-size: $medium;
    }

    .loginBtn {
      width: 100%;
      font-size: $medium;
      font-weight: bold;
      color: white;
      border: none;
      padding: 10px;
      margin-top: 16px;
      border-radius: 4px;

      &.active {
        background-color: #0095f6;
      }
      &.disabled {
        background-color: #b2dffc;
      }
    }
  }
  .forgotPassword {
    margin-top: 130px;
    color: $darkblue;
    font-size: $medium;
  }
}
